<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<section class="service-grid pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <div class="service-title">
                    <h4>Our Services</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="icon-desktop"></i>
                    </div>
                    <h4>Web Application</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="icon-bar-chart"></i>
                    </div>
                    <h4>Highly customizable</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="icon-align-justify"></i>
                    </div>
                    <h4>Responsive design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="icon-cogs"></i>
                    </div>
                    <h4>service & plugins</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="icon-bug"></i>
                    </div>
                    <h4>Optimised for speed</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="icon-thumbs-up"></i>
                    </div>
                    <h4>Dedicated support</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
