<div>
<nav class="navbar">
  <div class="navbar-container">
    <input type="checkbox" name="" id="">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li><a (click)="scrollToDiv('scrollTarget1')">Home</a></li>
      <li><a (click)="scrollToDiv('scrollTarget2')">Service</a></li>
      <li><a (click)="scrollToDiv('scrollTarget3')">contact</a></li>
      <li><a (click)="scrollToDiv('scrollTarget4')">About us</a></li>
    </ul>
    <h1 class="logo">e-Commerce</h1>
  </div>
</nav>
</div>


<div id="scrollTarget1">
  <app-home></app-home>
</div>

<div id="scrollTarget2">
  <app-service></app-service>
</div>

<div id="scrollTarget3">
  <app-contact></app-contact>
</div>

<div id="scrollTarget4">
  <app-footer></app-footer>
</div>