<div id="landing-img-text" class="row col-12 no-padding-margin flex-column-reverse flex-md-row">
    <div id="landing-text" class="row justify-content-center aling-items-center align-items-md-center col-12 col-md-6">
      <div class="w-100"></div>
      <div id="landing-text-div" class="col-12 col-md-10 offset-md-2 h-100">
        <h2 id="landing-subheading">More than just shorter links</h2>
        <p id="landing-subtext">Build your brand's recognition and get detailed insights on how your links are performing.</p>
        <button id="get-started-btn" class="theme-cyan no-border white-color">Get Started</button>
      </div>
    </div>
    <div id="landing-img" class="col-12 col-md-6 no-padding-margin">
      <img id="landing-pc-img" class="img-fluid" src="https://svgshare.com/i/JMW.svg" alt="landing img">
    </div>
  </div>